<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- {{-- BOOTSTRAP CSS  --}} -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- {{-- FEATHER ICONS  --}} -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">

    <!-- {{-- MULTY SELECT  --}} -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>

</head>

<body class="bg-light">

    <!-- Button trigger modal -->
    <button type="button" class="badge bg-success text-decoration-none border-0"  data-bs-toggle="modal" data-bs-target="#tambahlaporan"><i data-feather="plus"></i>
        Tambah Laporan
    </button>

    <!-- Modal -->
    <div class="modal fade" id="tambahlaporan" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title mx-auto" id="uploadModalLabel">Laporan</h3>
            </button>
          </div>
          <div class="modal-body m-3">
            <form enctype="multipart/form-data">
              <div class="form-group">
                <label for="absenFile"><h5>Absen</h5></label><br>
                <input type="file" class="form-control-file" id="absenFile" style="display: none;">
                <label class="btn btn-light px-6 btn-outline" for="absenFile"><i data-feather="upload" style="color: gray;"></i> upload absen</label>
              </div>
              <div class="form-group mt-4">
                <label for="dokumentasiFile"><h5>Dokumentasi Kegiatan</h5></label><br>
                <input type="file" class="form-control-file" id="dokumentasiFile" style="display: none;">
                <label class="btn btn-light px-6 btn-outline" for="absenFile"><i data-feather="upload" style="color: gray;"></i> upload dokumentasi</label>
              </div>
            </form>
            <button type="button" class="btn btn-dark mt-5 d-block mx-auto pt-3 pb-3" style="width:85%;">Kirim</button>
          </div>
        </div>
      </div>
  </div>
</body>

<!-- {{-- BOOTSTRAP JS  --}} -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- {{-- FEATHER ICONS  --}} -->
<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
    $(document).ready(function() {
        $('#id_provinsi').on('change', function() {
            var id_provinsi = $(this).val();

            if (id_provinsi) {
                $.ajax({
                    url: '/get-sekolah-by-provinsi/' + id_provinsi,
                    type: 'GET',
                    data: {
                        '_token': '{{ csrf_token() }}'
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data) {
                            $('#nama_sekolah').empty();
                            $('#nama_sekolah').append('<option value="">Pilih</option>');
                            $.each(data, function(key, sekolah) {
                                $('#nama_sekolah').append(
                                    '<option value="' + sekolah.id + '">' +
                                    sekolah.nama_sekolah + '</option>'
                                );
                            });
                        } else {
                            $('#nama_sekolah').empty();
                        }
                    }
                });
            } else {
                $('#nama_sekolah').empty();
            }
        });
    });
</script>

<!-- {{-- MULTY SELECT  --}} -->
<script>
    new MultiSelectTag('select_users')  // id
</script>

</html>
